<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="UMKM Merdeka For You">
  <title>UMKM Merdeka</title>
</head>

<body>
  <header>
    <navigation-bar></navigation-bar>
  </header>
  <main>
    <hero-section></hero-section>
  </main>
  <footer class="w-full bg-gray-900 py-16">
    <footer-bar></footer-bar>
  </footer>
</body>

</html>