<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="dicoding:email" content="f425x0972@dicoding.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="UMKM Merdeka For You">
  <meta name="theme-color" content="#0d9488" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>UMKM Merdeka</title>
</head>

<body>
  <navigation-bar></navigation-bar>
  <main id="content" class="pt-[60px] lg:pt-[88px]">
  </main>
  <footer-bar></footer-bar>
</body>

</html>