@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800&display=swap");

* {
  @apply scroll-smooth;
  font-family: "Poppins", sans-serif;
}

.shadow-nav {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-lines {
  @apply block w-[30px] h-[2px] bg-slate-900 mb-2;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

/* sidebar */

.sidebar {
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li a {
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  background: #081d45;
}

.home-section {
  width: calc(100% - 240px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  z-index: 100;
  padding: 0 20px;
  width: calc(100% - 240px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .search-box {
  margin: 0 20px;
}
nav .search-box input {
  border: 2px solid #efeef1;
  padding: 0 15px;
}
nav .search-box .bx-search {
  transform: translateY(-50%);
  transition: all 0.4 ease;
}
.home-section nav .profile-details {
  border: 2px solid #efeef1;
  padding: 0 15px 0 2px;
}
nav .profile-details .admin_name {
  margin: 0 10px;
}
.home-content .overview-boxes {
  padding: 0 20px;
}
.overview-boxes .box {
  padding: 15px 14px;
  width: calc(100% / 4 - 15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box .indicator i.down {
  background: #e87d88;
}
.home-content .box .cart {
  margin: -15px 0 0 6px;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 50px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}
